@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --colour-primary: #2A8E9E;
    --colour-secondary: #180D39;
    --colour-tertiary: #1D1E20;

    --rounded: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #E9F3F4;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10%;
    padding-block: 1rem;
    margin-inline: auto;

    /* Logo */
    span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1rem;
        color: var(--colour-primary);
        font-weight: 600;
    }

    .nav-group {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
            text-decoration: none;
            color: black;
            font-size: 16px;
        }

        a:hover {
            color: var(--colour-primary);
        }
    }

    #call-to-action {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .login {
        text-decoration: none;
        border-radius: var(--rounded);
        border: 1px solid gray;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        color: black;
    }

    .sign-up {
        text-decoration: none;
        border-radius: var(--rounded);
        background-color: var(--colour-primary);
        padding-inline: 1rem;
        padding-block: 0.5rem;
        color: white;
    }
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10%;
    padding-block: 1rem;
    min-height: 60vh;
    margin-inline: auto;
    gap: 3rem;
}

.hero-text {
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 700;

        span {
           font-size: 3rem; 
        }
    }

    form {
        min-width: 250px;
        background-color: white;
        width: fit-content;
        padding: 0.1rem;
        border-radius: 7px;

        input {
            border: none;
            background-color: transparent;
            padding-inline: 10px;
            padding-block: 0.5rem;
            border-radius: var(--rounded);
            min-width: 200px;
        }
        button {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            border: none;
            padding: 9px;
            border-radius: var(--rounded);
            background-color: var(--colour-primary);
            color: white;
        }
    }
    .logos {
        display: flex;
        gap: 1rem;

        img {
            max-width: 100px;
        }
    }
}

.hero-image {
    flex-basis: 1;
    display: flex;
    justify-content: center;
}

/* Feature secton */
.features-section {
    display: flex;
    margin-inline: 10%;
    padding-block: 5rem;
    padding-inline:2rem;
    /* min-height: 40vh; */
    /* margin-inline: auto; */
    gap: 3rem;
    background-color: white;
    border-radius: var(--rounded);
    border: 2px solid rgb(227, 225, 225);
     
}
.features{
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* padding-right: 40%; */

    h2 {/* FUTURE PAYMENT label styling */
         font-size: 12px;
         font-weight: bold;
         color: #036b75;
         
    }
}
/* FUTURE PAYMENT label styling */
/* .features-section .label {
  font-size: 12px;
  font-weight: bold;
  color: #036b75;
} */
.icon1 {
    padding-block: 0.5rem;
    display: flex;
    
    /* margin-inline-end: 10%; */
    h1{
        font-size: 1rem;
        font-weight: bold;
    }
    p {
        font-size: 0.7rem;
        color: gray;
        max-width: 80%;
    }

  

}
.feature-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .feature-text-p{
        max-width: 40%;
    }
    
    p{
        font-size: 0.9rem;
        color: gray;
    }
}

/* .icon2{
      flex-basis: 1;
    display: flex;
    justify-content: center;
} */

.step-section {
    display: flex;
    align-items: center;
    padding-inline: 10%;
    min-height: 60vh;
    background-color: #011a1c;
    

    h2{
        color: rgb(117, 115, 115);
        font-size: 0.8rem;
        font-weight: 800;
    }
    h1 {
        color: rgb(235, 232, 232);
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 0.5rem;
        max-width: 500px;
    }
}
.step-text{
    justify-content: center;
    
}
.step-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 0.5px solid#013033;
   
    margin-top: 2rem;
    border-radius: var(--rounded);
    gap: 0.5rem;
    /* max-width: 650px; */
    /* justify-content: space-around;
    flex-wrap: flex; */
    /* padding-inline: 1.5rem; */

    
    h1{
        color: rgb(235, 232, 232);
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 0.5rem;
    }
    h2{
        color: rgb(249, 245, 245);
        font-size: 0.8rem;
        font-weight: 800;
        margin-top: 0.5rem;}
    h3{
        margin-bottom: 1rem;
        font-size: 0.5rem;
        color: rgb(172, 170, 170);
    }
}
.step-text-2{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 1.5rem;
    color: white;
     background-color:  #013033;
    /* h1{margin-top: 0.5rem;} */
    
}

.footer-section {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding-block: 2rem;
    background-color: white;
    flex-direction: column; 
}
/* Logo */
.footer-text {
    span {
        display: flex;
        gap: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
    
    }

}
.footer {
    display: flex;
    gap: 5rem;
    padding-right: 10rem;
    padding-left: 8rem;
}
.footer-links {
    margin-top: 0.4rem;
    display: grid;
    flex-direction: column;  
    gap: 0.5rem;

    h4{
        margin-bottom: 1.5rem;
    }

     a {
        text-decoration: none;
        font-weight: 500;
        font-size: 0.8rem;
        color: gray;
    } 
    a:hover {
        color:var(--colour-primary);
     }
    .small{
        font-size: 0.8rem;
        color: gray;
    }
    
    .social-icons {
        display: flex;
        gap: 1rem;
        padding-bottom: 4rem;
    }
    
}
hr{
    margin-top: 2rem;
}
.footer-copyright {
    color: rgb(14, 57, 57);
    font-size: 0.6rem;
    font-weight: 800;
    text-align: center;
    background-color:white;

  
    p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
}

